{% extends 'base.html' %}
{% block title %}Event Dashboard{% endblock title %}
{% block body %}

<div class="container py-5">
    <h1 class="text-center">Event Dashboard</h1>
    <form method="post" action="/dashboard">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Event ID : </span>
            <input name="event_id" id="event_id" type="text" class="form-control" placeholder="ID Number"
                required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Host Password : </span>
            <input name="dashboard_password" id="dashboard_password" type="password" class="form-control" placeholder="Password"
                required>
        </div>
        <center><button  class="btn btn-primary mb-5" type="submit">Submit</button></center>
    </form>
</div>

<style>
    table {
        border-width: thick;
        border-spacing: 2px;
        border-style: none;
        border-color: black;
    }
</style>

{% if participant_detail %}
<div class="container py-5">
    <table class="table table-bordered" style="background-color:Bisque">
    <thead>
        <tr>
            <th scope="col">Participant-ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contact no.</th>
            <th scope="col">Email-ID</th>
            <th scope="col">Participant Type</th>
            <th scope="col">No. of People</th>
        </tr>
        </thead>
        <tbody>
            {% for participant in participant_detail %}
            <tr>
                <td> {{participant.id}} </td>
                <td> {{participant.participant_name}} </td>
                <td> {{participant.participant_contact}} </td>
                <td> {{participant.participant_email}} </td>
                <td> {{participant.registration_type}} </td>
                <td> {{participant.num_of_people}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}

{% endblock body %}
